.task
    width: 100%
    height: 100%
    display: grid
    grid-template-columns: [line-left-marker-start] .5em [line-left-marker-end line-content-start] auto [line-content-end line-right-marker-start] .5em [line-right-marker-end]
    grid-template-rows: auto

    .marker
        width: 100%
        height: 100%
        grid-row: 1/1
        background-color: rgb(39, 39, 39)
        cursor: move
        z-index: 2000
