.task
    width: 100%
    height: 100%
    display: grid
    grid-template-columns: [line-left-link-start] .5em [line-left-link-end line-left-marker-start] .5em [line-left-marker-end line-content-start] auto [line-content-end line-right-marker-start] .5em [line-right-marker-end line-right-link-start] .5em [line-right-link-end]
    grid-template-rows: auto

    @mixin link
        position: relative
        width: 1em
        height: 100%
        grid-row: 1/1
        background-color: rgb(124, 155, 185)
        cursor: move
        z-index: 1000

    .linkLeft
        @include link
        left: -.5em

    .linkRight
        @include link

    .marker
        width: 100%
        height: 100%
        grid-row: 1/1
        background-color: rgb(39, 39, 39)
        cursor: move
        z-index: 1000
